<div class="container">
  <div class="box">
    <p class="title" *ngIf="end">COUNTRY QUIZ</p>
    <div class="box-body">
      <div class="text-end" *ngIf="end">
        <img class="img-logo" src="assets/img/img.png" alt="">
      </div>
      <div class="content-box">
        <div *ngIf="end">
          <img src={{flag}} height="40">
          <p>{{question}}</p>
          <ul>
            <li *ngFor="let opcion of opciones" (click)="Seleccion(opcion.opcion)" 
              [ngClass]="{'active': seleccion == opcion.opcion && correctAnswerOption =='', 'correct': correctAnswerOption == opcion.opcion, 'incorrect': correctAnswerOption != opcion.opcion && seleccion==opcion.opcion && correctAnswerOption !=''}">
              <div class="row">
                <div class="col-3 col-md-2">
                  {{opcion.opcion}}
                </div>
                <div class="col-6 col-md-8 text-option">
                  {{opcion.valor}}
                </div>
                <div class="col-3 col-md-2 text-end" *ngIf="correctAnswerOption==opcion.opcion">
                  <span class="material-symbols-outlined">check_circle</span>
                </div>
                <div class="col-3 col-md-2 text-end" *ngIf="seleccion==opcion.opcion && correctAnswerOption != opcion.opcion && correctAnswerOption !=''">
                  <span class="material-symbols-outlined">cancel</span>
                </div>
              </div>
            </li>
          </ul>
          <div class="row">
              <div class="col-6">
                <button mat-button (click)="ValidateAnswer()">Validar</button>
              </div>
              <div *ngIf="showButton" class="text-end col-6">
                <button mat-button (click)="Next()">Siguiente</button>
              </div>
          </div>
        </div>
        <div *ngIf="!end" class="row div-win">
          <img src="assets/img/img-win.jpg" alt="">
          <h1>Resultado</h1>
          <p>Obtuviste <span [ngClass]="{'correct-inactive': correct==0, 'correct-active': correct!=0 }">{{correct}}</span> respuestas correctas</p>
          <button mat-button (click)="Reintentar()">Reintentar</button>
        </div>
      </div>
    </div>
  </div>
</div>